.footer-child {
  width: 1920px;
  height: 604px;
  position: relative;
  background-color: var(--black);
  display: none;
  max-width: 100%;
}
.logo-icon1 {
  height: 52px;
  width: 52.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 52px;
  z-index: 2;
}
.logo-icon2 {
  position: absolute;
  top: 0;
  left: -0.3px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.logo-wrapper {
  height: 52px;
  flex: 1;
  position: relative;
  margin-left: -52px;
}
.logo-group {
  width: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.canvix1 {
  height: 45.2px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.canvix-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.canvix2 {
  height: 45.2px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
  margin-left: -134px;
}
.frame-parent15,
.frame-parent16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent15 {
  align-items: center;
  gap: var(--gap-sm);
}
.were-a-team,
.were-a-team1 {
  height: 69px;
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
}
.were-a-team {
  align-self: stretch;
  z-index: 2;
}
.were-a-team1 {
  flex: 1;
  max-width: 100%;
  z-index: 1;
}
.were-a-team-of-strategic-crea-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-top: -69px;
}
.frame-parent14,
.were-a-team-of-strategic-crea-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.were-a-team-of-strategic-crea-parent {
  align-self: stretch;
  font-size: var(--body-rg-18-size);
  font-family: var(--body-rg-16);
}
.frame-parent14 {
  width: 361px;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--font-size-19xl-8);
}
.pages,
.pages1 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.pages1 {
  z-index: 1;
}
.pages-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -23px;
}
.pages-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home1,
.home2 {
  letter-spacing: 0.03em;
}
.home1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.home2 {
  position: relative;
  z-index: 1;
}
.home-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home-parent {
  width: 43px;
  height: 21px;
  position: relative;
}
.home-2,
.home-21 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.home-21 {
  z-index: 1;
}
.home-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -64px;
}
.home-2-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about1,
.about2 {
  letter-spacing: 0.03em;
}
.about1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.about2 {
  position: relative;
  z-index: 1;
}
.about-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-parent {
  width: 46px;
  height: 21px;
  position: relative;
}
.conatct-us,
.conatct-us1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.conatct-us1 {
  z-index: 1;
}
.conatct-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -92px;
}
.conatct-us-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.portfolio,
.portfolio1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.portfolio1 {
  z-index: 1;
}
.portfolio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -63px;
}
.portfolio-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.portfolio-single,
.portfolio-single1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.portfolio-single1 {
  z-index: 1;
}
.portfolio-single-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -121px;
}
.frame-parent17,
.frame-parent18,
.portfolio-single-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent17,
.frame-parent18 {
  flex-direction: column;
}
.frame-parent18 {
  gap: var(--gap-base);
  font-size: var(--body-rg-16-size);
  color: var(--light-grey);
  font-family: var(--body-rg-16);
}
.frame-parent17 {
  gap: var(--gap-5xl);
}
.utility-pages,
.utility-pages1 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.utility-pages1 {
  z-index: 1;
}
.utility-pages-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -130px;
}
.utility-pages-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.style-guide,
.style-guide1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.style-guide1 {
  z-index: 1;
}
.style-guide-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -95px;
}
.style-guide-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.instruction,
.instruction1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.instruction1 {
  z-index: 1;
}
.instruction-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -81px;
}
.instruction-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.license,
.license1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.license1 {
  z-index: 1;
}
.license-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -57px;
}
.license-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.changelog,
.changelog1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.changelog1 {
  z-index: 1;
}
.changelog-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -80px;
}
.changelog-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-404,
.error-4041 {
  position: relative;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  z-index: 2;
}
.error-4041 {
  z-index: 1;
}
.error-404-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -84px;
}
.error-404-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.password-protected1,
.password-protected2 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.password-protected2 {
  z-index: 1;
}
.password-protected-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -160px;
}
.frame-parent19,
.frame-parent20,
.password-protected-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent19,
.frame-parent20 {
  flex-direction: column;
}
.frame-parent20 {
  gap: var(--gap-base);
  font-size: var(--body-rg-16-size);
  color: var(--light-grey);
  font-family: var(--body-rg-16);
}
.frame-parent19 {
  gap: var(--gap-5xl);
}
.subscribe,
.subscribe1 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.subscribe1 {
  z-index: 1;
}
.subscribe-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -99px;
}
.subscribe-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.enter-your-email {
  display: none;
}
.enter-your-email,
.get-in-touch1 {
  position: relative;
  letter-spacing: 0.03em;
}
.button1 {
  height: 47px;
  border-radius: var(--br-xl);
  background-color: var(--light-black);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-mini);
  box-sizing: border-box;
  color: var(--white-color);
}
.enter-your-email1,
.get-in-touch2 {
  position: relative;
  letter-spacing: 0.03em;
}
.get-in-touch2 {
  font-size: var(--body-rg-18-size);
  font-family: var(--body-rg-16);
  color: var(--white-color);
  text-align: left;
}
.button2,
.text-frame-canvix-tagline {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs);
  background-color: var(--light-black);
  width: 118px;
  border-radius: var(--br-xl);
  justify-content: center;
}
.button2:hover {
  background-color: var(--color-darkslategray);
}
.text-frame-canvix-tagline {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-4xl);
  gap: var(--gap-xl);
  max-width: 100%;
}
.text-frame-canvix-team {
  flex: 1;
  border-radius: var(--br-xl);
  gap: var(--gap-7xl);
  z-index: 2;
}
.home-content,
.main-frame,
.text-frame-canvix-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.home-content {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
}
.main-frame {
  align-self: stretch;
  border-radius: var(--br-xl);
  z-index: 1;
  font-size: var(--body-rg-18-size);
  color: var(--light-black);
  font-family: var(--body-rg-16);
}
.footer-inner,
.frame-parent13,
.frame-parent21 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent21 {
  width: 433px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.footer-inner,
.frame-parent13 {
  flex-direction: row;
}
.frame-parent13 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-inner {
  width: 1396px;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-child4,
.line-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
  z-index: 1;
}
.frame-child4 {
  z-index: 2;
  margin-left: -1400px;
}
.line-parent {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright-by,
.copyright-by1 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.copyright-by1 {
  z-index: 1;
}
.copyright-by-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -135px;
}
.copyright-by-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.designed-by-iconsticacom,
.designed-by-iconsticacom1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.designed-by-iconsticacom1 {
  z-index: 1;
}
.designed-by-iconsticacom-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -211px;
}
.designed-by-iconsticacom-parent,
.frame-parent24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.designed-by-iconsticacom-parent {
  flex-direction: row;
  font-size: var(--body-rg-16-size);
  font-family: var(--body-rg-16);
}
.frame-parent24 {
  flex-direction: column;
  gap: var(--gap-base);
}
.contact-us1,
.contact-us2 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.contact-us2 {
  z-index: 1;
}
.contact-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -114px;
}
.contact-us-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div2,
.div3 {
  position: relative;
  letter-spacing: 0.03em;
  white-space: nowrap;
  z-index: 2;
}
.div3 {
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -123px;
}
.container,
.frame-parent25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: row;
  font-size: var(--body-rg-16-size);
  font-family: var(--body-rg-16);
}
.frame-parent25 {
  flex-direction: column;
  gap: var(--gap-base);
}
.address,
.address1 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.address1 {
  z-index: 1;
}
.address-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -79px;
}
.address-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tanglewood-lane-gulfport,
.tanglewood-lane-gulfport1 {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 2;
}
.tanglewood-lane-gulfport1 {
  z-index: 1;
}
.tanglewood-lane-gulfport-ms-3-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -319px;
}
.frame-parent26,
.tanglewood-lane-gulfport-ms-3-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tanglewood-lane-gulfport-ms-3-parent {
  flex-direction: row;
  font-size: var(--body-rg-16-size);
  font-family: var(--body-rg-16);
}
.frame-parent26 {
  flex-direction: column;
  gap: var(--gap-base);
}
.vector-icon8 {
  height: 21.6px;
  width: 12px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 19px;
  display: none;
  z-index: 1;
}
.getintouch {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--white-color);
}
.copyright-note-icon {
  height: 21.6px;
  width: 12px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 19px;
  z-index: 1;
}
.email-field {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 2;
}
.frame-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
}
.subscribe-form-inner {
  height: 50px;
  width: 50px;
  position: relative;
  display: none;
}
.subscribe-form {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  z-index: 1;
}
.frame-child6 {
  height: 22.9px;
  width: 22.9px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 14px;
  display: none;
  z-index: 1;
}
.frame-child7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--white-color);
}
.frame-child8 {
  height: 45.8%;
  width: 45.8%;
  position: absolute;
  margin: 0 !important;
  top: 28%;
  right: 26.2%;
  bottom: 26.2%;
  left: 28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-parent27 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 2;
}
.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
}
.subscribe-form-child {
  height: 50px;
  width: 50px;
  position: relative;
  display: none;
}
.subscribe-form1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  z-index: 1;
}
.frame-child10 {
  height: 22.9px;
  width: 22.9px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 14px;
  display: none;
  z-index: 1;
}
.frame-child11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--white-color);
}
.frame-child12 {
  height: 45.8%;
  width: 45.8%;
  position: absolute;
  margin: 0 !important;
  top: 28%;
  right: 26.2%;
  bottom: 26.2%;
  left: 28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.frame-parent28 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 2;
}
.frame-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
}
.subscribe-form-inner1 {
  height: 50px;
  width: 50px;
  position: relative;
  display: none;
}
.subscribe-form2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  z-index: 1;
}
.subscribe-form-parent {
  height: 50px;
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.frame-parent23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.frame-parent22 {
  width: 1404px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  gap: var(--gap-11xl);
  color: var(--light-grey);
}
.footer,
.footer-wrapper,
.frame-parent22 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.footer {
  flex: 1;
  background-color: var(--black);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-xl) var(--padding-41xl)
    var(--padding-5xl);
  gap: var(--gap-82xl);
}
.footer-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--heading-h5-20-size);
  color: var(--color-white);
  font-family: var(--heading-h5-20);
}
@media screen and (max-width: 1225px) {
  .frame-parent13,
  .frame-parent23 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .canvix1,
  .canvix2 {
    font-size: var(--font-size-12xl);
  }
  .footer {
    gap: var(--gap-82xl);
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .canvix1,
  .canvix2 {
    font-size: var(--font-size-4xl);
  }
  .pages,
  .pages1,
  .subscribe,
  .subscribe1,
  .utility-pages,
  .utility-pages1 {
    font-size: var(--body-rg-16-size);
  }
  .text-frame-canvix-tagline {
    flex-wrap: wrap;
  }
  .home-content {
    gap: var(--gap-75xl);
  }
  .address,
  .address1,
  .contact-us1,
  .contact-us2,
  .copyright-by,
  .copyright-by1 {
    font-size: var(--body-rg-16-size);
  }
  .footer {
    gap: var(--gap-82xl);
  }
}
