.logo-frame-icon {
  height: 80px;
  width: 80px;
  position: relative;
}
.main-content-icon {
  height: 37.5%;
  width: 37.5%;
  position: absolute;
  margin: 0 !important;
  top: 31.25%;
  right: 31.25%;
  bottom: 31.25%;
  left: 31.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.content-writing,
.header-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-group {
  position: relative;
  gap: var(--gap-3xs);
}
.content-writing {
  overflow: hidden;
}
.content-marketing {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.our-team-creates {
  align-self: stretch;
  height: 92px;
  position: relative;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  font-family: var(--body-rg-16);
  display: inline-block;
}
.content-marketing-parent {
  align-self: stretch;
  gap: var(--gap-mini);
}
.chevron-right-vector,
.chevron-right-vector-inner,
.content-marketing-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-vector-inner {
  align-self: stretch;
}
.chevron-right-vector {
  width: 422px;
  border-radius: var(--br-xl);
  background-color: var(--black);
  padding: var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-43xl);
  max-width: 100%;
  color: var(--light-grey);
}
.vector-icon3 {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.graphic-design2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.unlock-the-power {
  align-self: stretch;
  height: 92px;
  position: relative;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  font-family: var(--body-rg-16);
  color: var(--light-black);
  display: inline-block;
}
.graphic-design-group {
  align-self: stretch;
  gap: var(--gap-mini);
}
.chevron-right-vector-child,
.chevron-right-vector1,
.graphic-design-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-vector-child {
  align-self: stretch;
}
.chevron-right-vector1 {
  width: 422px;
  border-radius: var(--br-xl);
  background-color: var(--light-grey);
  padding: var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.vector-icon4 {
  height: 80px;
  width: 80px;
  position: relative;
}
.navigation-bar-icon {
  height: 37.6px;
  width: 33px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  left: 23px;
  border-radius: 3.67px;
  z-index: 1;
}
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.digital-marketing {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.elevate-your-brands {
  align-self: stretch;
  height: 92px;
  position: relative;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  font-family: var(--body-rg-16);
  color: var(--light-black);
  display: inline-block;
}
.digital-marketing-parent {
  align-self: stretch;
  gap: var(--gap-mini);
}
.chevron-right-vector-inner1,
.chevron-right-vector2,
.digital-marketing-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-vector-inner1 {
  align-self: stretch;
}
.chevron-right-vector2 {
  width: 422px;
  border-radius: var(--br-xl);
  background-color: var(--light-grey);
  padding: var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.vector-icon5 {
  height: 80px;
  width: 80px;
  position: relative;
}
.group-icon {
  height: 41.25%;
  width: 41.25%;
  position: absolute;
  margin: 0 !important;
  top: 30%;
  right: 28.75%;
  bottom: 28.75%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.web-design {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.we-specialize-in {
  align-self: stretch;
  height: 92px;
  position: relative;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  font-family: var(--body-rg-16);
  color: var(--light-black);
  display: inline-block;
}
.web-design-parent {
  align-self: stretch;
  gap: var(--gap-mini);
}
.chevron-right-vector-inner2,
.chevron-right-vector3,
.web-design-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-vector-inner2 {
  align-self: stretch;
}
.chevron-right-vector3 {
  width: 422px;
  border-radius: var(--br-xl);
  background-color: var(--light-grey);
  padding: var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.footer-frame-icon {
  height: 80px;
  width: 80px;
  position: relative;
}
.footer-page-frame {
  height: 38.25%;
  width: 42.5%;
  position: absolute;
  margin: 0 !important;
  top: 31.25%;
  right: 28.75%;
  bottom: 30.5%;
  left: 28.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.logo-canvas,
.logo-canvas-wrapper {
  display: flex;
  align-items: flex-start;
}
.logo-canvas {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.logo-canvas-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}
.vector,
.vector-wrapper {
  display: flex;
  flex-direction: row;
}
.vector {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
}
.vector-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.it-consulting {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.it-consulting-or {
  align-self: stretch;
  height: 104px;
  position: relative;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  font-family: var(--body-rg-16);
  color: var(--light-black);
  display: inline-block;
}
.frame-parent8,
.it-consulting-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.it-consulting-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.frame-parent8 {
  width: 423px;
  border-radius: var(--br-xl);
  background-color: var(--light-grey);
  align-items: center;
  padding: var(--padding-26xl) var(--padding-25xl) var(--padding-26xl)
    var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.home-logo-container {
  height: 80px;
  width: 80px;
  position: relative;
}
.home-frame-icon {
  height: 40.13%;
  width: 42.5%;
  position: absolute;
  margin: 0 !important;
  top: 30%;
  right: 28.75%;
  bottom: 29.88%;
  left: 28.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.home-logo-container-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.brand-identity {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.it-involves-creating {
  align-self: stretch;
  height: 92px;
  position: relative;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  font-family: var(--body-rg-16);
  color: var(--light-black);
  display: inline-block;
}
.brand-identity-parent,
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frame-parent9 {
  gap: var(--gap-45xl);
}
.chevron-right-vector-parent,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper3 {
  width: 422px;
  border-radius: var(--br-xl);
  background-color: var(--light-grey);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-26xl);
  box-sizing: border-box;
}
.chevron-right-vector-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 67px;
  min-height: 828px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--black);
  font-family: var(--heading-h5-20);
}
@media screen and (max-width: 850px) {
  .chevron-right-vector-parent {
    gap: 80px 67px;
  }
}
@media screen and (max-width: 450px) {
  .content-marketing {
    font-size: var(--heading-h5-20-size);
  }
  .chevron-right-vector {
    gap: var(--gap-43xl);
    padding: var(--padding-10xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .graphic-design2 {
    font-size: var(--heading-h5-20-size);
  }
  .chevron-right-vector1 {
    gap: var(--gap-43xl);
    padding: var(--padding-10xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .digital-marketing {
    font-size: var(--heading-h5-20-size);
  }
  .chevron-right-vector2 {
    gap: var(--gap-43xl);
    padding: var(--padding-10xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .web-design {
    font-size: var(--heading-h5-20-size);
  }
  .chevron-right-vector3 {
    gap: var(--gap-43xl);
    padding: var(--padding-10xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .it-consulting {
    font-size: var(--heading-h5-20-size);
  }
  .frame-parent8 {
    gap: var(--gap-43xl);
    padding: var(--padding-10xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .brand-identity {
    font-size: var(--heading-h5-20-size);
  }
  .frame-parent9 {
    gap: var(--gap-45xl);
  }
  .frame-wrapper3 {
    padding: var(--padding-10xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .chevron-right-vector-parent {
    gap: 80px 67px;
  }
}
