.hero-section-child {
  width: 1921px;
  height: 1041px;
  position: relative;
  background-color: var(--black);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.hero-section-item {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.clip-path-group {
  width: 2058px;
  height: 1658px;
  display: none;
  max-width: 100%;
}
.canvix,
.clip-path-group,
.logo-icon {
  position: relative;
  z-index: 2;
}
.logo-icon {
  height: 40px;
  width: 40.4px;
  overflow: hidden;
  flex-shrink: 0;
}
.canvix {
  margin: 0;
  height: 35px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.logo-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.home {
  height: 26px;
  position: relative;
  display: inline-block;
}
.footer-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.about {
  height: 26px;
  position: relative;
  display: inline-block;
}
.footer-frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.contact-us {
  height: 26px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.footer-frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-12xs) var(--padding-8xs)
    var(--padding-8xs);
}
.get-in-touch,
.navigation {
  font-family: var(--body-rg-16);
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  z-index: 2;
  font-size: var(--heading-h5-20-size);
  color: var(--white-color);
}
.get-in-touch {
  position: relative;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  color: var(--light-black);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-2xs) var(--padding-xs)
    var(--padding-mini);
  background-color: var(--white-color);
  border-radius: var(--br-4xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.button:hover {
  background-color: var(--color-gainsboro);
}
.frame-parent5,
.hero-section-inner {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent5 {
  align-self: stretch;
  width: 1392px;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.hero-section-inner {
  width: 1531px;
  height: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--heading-h4-30-size);
  color: var(--color-white);
  font-family: var(--heading-h5-20);
}
.trusted-by-leading {
  position: relative;
  font-weight: 600;
  z-index: 3;
}
.password-protected {
  position: absolute;
  top: 718px;
  left: 16px;
  width: 675px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 2;
}
.a8ebaefe07573-client-05-icon,
.b331014c589cab-client-04-icon {
  position: absolute;
  top: 754px;
  left: 0;
  width: 147.5px;
  height: 54px;
  overflow: hidden;
  z-index: 2;
}
.a8ebaefe07573-client-05-icon {
  top: 752.1px;
  left: 157.5px;
  height: 57.7px;
}
.a0e31c39d2f577-client-03-icon,
.a4896c258e54657-client-02-icon {
  position: absolute;
  top: 749.9px;
  left: 315.1px;
  width: 147.5px;
  height: 62.2px;
  overflow: hidden;
  z-index: 2;
}
.a4896c258e54657-client-02-icon {
  top: 746px;
  left: 472.6px;
  width: 221.3px;
  height: 70px;
}
.image-icon,
.wrapper-image {
  position: absolute;
  height: 100%;
  z-index: 3;
}
.image-icon {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  left: -43px;
  top: 76px;
  transform: scale(1.486);
}
.wrapper-image {
  top: 0;
  bottom: 0;
  left: 664px;
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-protected-parent {
  height: 850px;
  width: 1514px;
  position: relative;
  max-width: 100%;
}
.ready-to-take {
  margin: 0;
}
.business {
  color: var(--light-green);
}
.span {
  color: var(--white-color);
}
.growth {
  color: var(--light-green);
}
.business-growth,
.to-the-next {
  margin: 0;
}
.lorem-ipsum-dolor,
.ready-to-take-container {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.ready-to-take-container {
  margin: 0;
  align-self: stretch;
  height: 225px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.lorem-ipsum-dolor {
  width: 557px;
  height: 69px;
  font-size: var(--body-rg-18-size);
  letter-spacing: 0.03em;
  font-family: var(--body-rg-16);
  max-width: 100%;
}
.ready-to-take-your-business-gr-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.ellipse-div {
  height: 28px;
  width: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--black);
}
.chevron-right-icon1,
.password-protected-pair {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  z-index: 1;
}
.password-protected-pair {
  height: 9.3px;
  width: 4.7px;
  top: 9px;
  left: 12px;
  z-index: 2;
}
.ellipse-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.33px;
}
.ellipse-group,
.start-your-free1 {
  position: relative;
}
.start-trial1 {
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-3xs);
  z-index: 2;
  font-size: var(--heading-h5-20-size);
  color: var(--light-black);
  font-family: var(--body-rg-16);
}
.frame-parent7 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.frame-parent6,
.frame-parent7,
.frame-wrapper2,
.hero-section-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 609px;
  flex-direction: column;
  padding: var(--padding-120xl) 0 0;
  box-sizing: border-box;
  margin-left: -1497px;
  font-size: var(--heading-h2-64-size);
  color: var(--white-color);
}
.frame-parent6,
.hero-section-inner1 {
  flex-direction: row;
}
.frame-parent6 {
  flex: 1;
}
.hero-section-inner1 {
  width: 1531px;
  padding: 0 0 0 var(--padding-mid);
  box-sizing: border-box;
  flex-shrink: 0;
}
.ornament-26-1 {
  width: 192.5px;
  height: 183.6px;
  position: absolute;
  margin: 0 !important;
  top: 189px;
  left: -41px;
  object-fit: contain;
  z-index: 4;
}
.hero-section {
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xl) var(--padding-xl) var(--padding-70xl)
    var(--padding-64xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-7xl);
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--heading-h5-20-size);
  color: var(--light-green);
  font-family: var(--heading-h5-20);
}
@media screen and (max-width: 1225px) {
  .hero-section {
    padding-left: var(--padding-22xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-39xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .navigation {
    display: none;
  }
  .frame-parent5 {
    width: 1086px;
  }
  .ready-to-take-container {
    font-size: var(--font-size-32xl);
  }
  .frame-parent7 {
    gap: var(--gap-13xl);
  }
  .hero-section {
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .trusted-by-leading {
    font-size: var(--body-rg-16-size);
  }
  .ready-to-take-container {
    font-size: var(--font-size-19xl);
  }
  .start-your-free1 {
    font-size: var(--body-rg-16-size);
  }
}
